{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        <h1>{{ post.title }}</h1>
        <p id='contents'>{{ post.text|linebreaksbr }}</p>
		<div class="dateauthor">
			{% if post.published_date %}
	           <p>Published: {{ post.published_date }}</p>
	        {% endif %}
	         <p>Author: {{ post.author}}</p>
	    </div>
		{% if user.is_authenticated %}
			<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
		{% endif %}
    </div>
{% endblock %}